.button-mask-1 {
  width: 255px;
  height: 50px;
  mask: url("../assets/temtem-select-mask-1.svg");
}

.button-mask-2 {
  width: 255px;
  height: 50px;
  mask: url("../assets/temtem-select-mask-2.svg");
}

.scaled {
  transform: scale(1.05, 1.2);
}
